body
{
background-image:url("src/main/java/pl/filipwlodarczyk/SPRINGSECURITY/resources/images/backimg.jpg")
background-color: gray;
margin:0;
}

.container
{
background-color: white;
width: 900px;
height: 370px;
margin: auto;
}

.logo
{
background-color: gray;
width: 900px;
height: 80px;
}


.menu
{
margin-top: 10px;
background-color: gray;
width: 900px;
height: 40px;
}

.nav
{
margin-top: 10px;
background-color: gray;
width: 160px;
height: 140px;
float:left;
}

.content
{
margin-top: 10px;
margin-left: 10px;
margin-right 10px;
background-color: gray;
width: 520px;
height: 140px;
float:left;
}

.sidebar
{
margin-left: 10px;
margin-right 10px;
margin-top: 10px;
background-color: gray;
width: 200px;
height: 140px;
float:left;
}

.footer
{
margin-top: 10px;
background-color: gray;
width: 900px;
height: 80px;
}